/* Загальний стиль для сторінки */ 
body {
    margin: 0;
    padding: 0;
    overflow: auto;
    height: 160vh;
    position: relative;
    cursor: url('images/cats_paw.png'), auto;
    font-family: 'Arial', sans-serif;
    background-color: #D0FEF5; /* фон */
    background-size: cover;
}




.banner {
    background-color: #fff;
    padding: 15px 10px; /* Додаємо трохи більше відступів для шапки */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex; /* Встановлюємо flexbox для вирівнювання елементів */
    justify-content: space-between; /* Простір між елементами шапки */
    align-items: center; /* Вирівнювання по вертикалі */
}

/* Стиль для логотипу */
.logo {
    display: flex;
    align-items: center; /* Вирівнювання логотипу та тексту по вертикалі */
}

.logo img {
    height: 60px;
    margin-right: 5px; /* Відступ між логотипом і текстом */
}

/* Навігаційне меню */
.navigation {
    display: flex; /* Вирівнюємо елементи меню горизонтально */
    gap: 20px; /* Відступи між пунктами меню */
}

.navigation a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 1.2em;
    padding: 10px 50px;
}

.navigation a:hover {
    color: #5C46A2;
}

/* Стиль для кнопки "Підтримати" */
.support-button .button {
    background-color: #5C46A2;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.support-button .button:hover {
    background-color: #04fa87;
}

.navigation {
    display: flex;
    align-items: center;
    position: relative;
}

.dropdown {
    position: relative; /* Дозволяє дочірнім елементам позиціонуватися */
}

.dropbtn {
    padding: 14px 16px; /* Відступи для кнопки */
    display: inline-block; /* Дозволяє використовувати padding */
}

.dropdown-content {
    display: none; /* Сховати контент за замовчуванням */
    position: absolute; /* Випадаюче меню буде відносно кнопки */
    background-color: #f9f9f9; /* Колір фону */
    min-width: 160px; /* Мінімальна ширина меню */
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); /* Тінь */
    z-index: 1; /* Щоб меню було поверх інших елементів */
}

.dropdown-content a {
    color: black; /* Колір тексту */
    padding: 12px 16px; /* Відступи для пунктів меню */
    text-decoration: none; /* Без підкреслення */
    display: block; /* Відображення в блочному стилі */
}

.dropdown:hover .dropdown-content {
    display: block; /* Показати меню при наведенні на батьківський елемент */
}

.dropdown-content a:hover {
    background-color: #ddd; /* Фон пункту при наведенні */
}

.footer {
    background-color: #322734;
    color: #000000;
    padding: 5px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 120px;
    margin: 0 auto;
    width: 100%;
}

.footer-logo img {
    width: 100px;
}

.footer-links {
    display: flex;
    gap: 100px;
    justify-content: flex-end; /* Вирівнює колонки справа */
    flex-grow: 1;
}

.footer-links ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li {
    margin-bottom: 10px;
}

.footer-links ul li a {
    color: #ffffff;
    text-decoration: none;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 14px;
    color: #bbbbbb;
}

.sponsor-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Вирівнює елементи з відступами між ними */
    gap: 30px; /* Відступи між картками */
    margin-top: 100px;
    padding: 0 50px; /* Додає відступи по бокам контейнера */
}

.sponsor-card {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    width: calc(20% - 20px); /* Картки займають 25% ширини контейнера (4 в ряд) */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.sponsor-card img {
    width: 150px; /* Фіксована ширина */
    height: 150px; /* Фіксована висота */
    height: auto;
    margin-bottom: 15px;
}

.sponsor-card h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.sponsor-card p {
    font-size: 0.9em;
    line-height: 1.5;
}

.arrow-up {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #7d93a549;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s;
}

.arrow-up svg {
    fill: rgb(255, 255, 255);
    width: 24px;
    height: 24px;
}

.arrow-up:hover {
    background-color: #41435a72;
    cursor: url('/images/cursor2.png'), auto; /* Шлях до кастомного курсора */
}
